@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nielsen Hall<br />
        Cedar Rapids, IA 52404<br />
    </address>

    <address>
        <strong>Instructor:</strong> <a href="mailto:Jim.Glasgow@kirkwood.edu">Jim.Glasgow@kirkwood.edu</a>
    </address>
</main>