@*Created: 2024-04-06 
    * Author: Michael Springer
*@
@{
    ViewBag.Title = "Cookie Policy";
}
<main aria-labelledby="title">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col col-xl-8 p-4 m-auto">
                <h2 id="title">@ViewBag.Title</h2>
                <hr class="my-3" />
                <div class="mt-3 px-0 mx-0 legal">
                    <ol>
                        <li>
                            <h3>Introduction</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>
                                        Our website uses session tracking cookies, which are necessary
                                        for the basic funcationality of the application's features.
                                        NightRider does not use persistent cookies(those which retain data
                                        after the close of a session).
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>Credit</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>
                                        This document was created using a template from Docular:
                                        <a href="https://docular.net">https://docular.net</a>
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>About Cookies</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
                                </li>
                                <li>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</li>
                                <li>Cookies may not contain any information that personally identifies a user, but personal data that we store about you may be linked to the information stored in and obtained from cookies.</li>
                            </ol>
                        </li>
                        <li>
                            <h3>Cookies that we use</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>We use cookies for the following purposes:</p>
                                    <ul>
                                        <li>
                                            <p><strong>authentication and status</strong> - we use session cookies to identify you when you visit our website and as you navigate our website, and to help us determine if you are logged into our website.</p>
                                        </li>
                                        <li>
                                            <p><strong>security</strong> we use session cookies as an element of the security measures used to protect user accounts, including preventing fraudulent use of login credentials, and to protect our website and services generally</p>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>Cookies used by our service providers</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>
                                        Our service providers use cookies and those cookies may be stored on your computer when you visit our website.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        We use Bing Maps APIs. Bing Maps gathers information about the use of our website by means of cookies. The information gathered is used to create reports about the use of our website.
                                        You can find out more about Bing Maps' use of information by visiting
                                        <a href="https://www.microsoft.com/en-us/maps/bing-maps/product">https://www.microsoft.com/en-us/maps/bing-maps/product</a>.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        We use Google Analytics. Google Analytics gathers information about the use of our website by means of cookies. The information gathered is used to create reports about the use of our website.
                                        You can find out more about Google's use of information by visiting
                                        <a href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a>
                                        and you can review Google's privacy policy at
                                        <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>Managing Cookies</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>
                                        Session cookies are required for basic functionality of any site features
                                        that require login. They cannot be disabled.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Because NightRider does not use persistent cookies (those that persist after the close of a session)
                                        there are no
                                        related account settings or other "opt out" features included in the site. Should persistent
                                        cookies be added to the service in the future, NightRider will notify users of the update when
                                        they access the site. In such a instance, users will have the option to opt out of all non-essential cookies.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>Contact Us</h3>
                            <ol class="lst-inner">
                                <li>
                                    <p>
                                        You can learn more about us under the
                                        @Html.ActionLink("About Page", "About", "Home").
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        You can contact NightRider directly through our
                                        @Html.ActionLink("Contact Page", "Contact", "Home").
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>







