<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicLayer.Properties.Settings.night_riderConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=night_rider;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>